body{
    width: 100vw;
    height: 100vh;
}
#map{
    height: 100%;
    width: 100%;
}

.filter-container {
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    z-index: 1000;
    position: absolute;
    padding: 20px 20%;

  }
  
  .container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    padding: 10px 30px 10px 30px;
    font-size: 17px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    width: 220px;
    background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
    text-align-last: center;
  }

.sort-container {
  position: absolute;
  z-index: 1000;
  top: 20%;
  display: flex;
  flex-direction: column;
  width: 25%;
}
  #suggest-address-list{
    white-space: nowrap;
    overflow: hidden;
    height: 25vh;
    background: white;
  }

  .suggest-address-item{
    display: block;
  }



 
 